rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access to all collections for any user.
    // This is open and not recommended for production.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
